<table class="table no-bottom-border" *ngIf="subject && !isSummon">
  <tbody>
    <tr>
      <th colspan="5" class="button" [ngClass]="{'selected' : includeTrust}" (click)="includeTrust = !includeTrust; reset()">Include 200 Trust</th>
      <th colspan="4" class="button" [ngClass]="{'selected' : includePotentials}" (click)="includePotentials = !includePotentials; reset()">Include All Potentials</th>
    </tr>
  </tbody>
</table>
<table class="table" [ngClass]="{'bottom-margin' : isSummon && !doctor.statSlider}" *ngIf="subject">
  <tbody>
    <tr class="stat-header">
      <th [ngClass]="{'opStatHeader' : !isSummon}">
        Stat
      </th>
      <th>
        <ion-img src="assets/icons/stats/hp.webp"></ion-img>
      </th>
      <th>
        <ion-img src="assets/icons/stats/atk.webp"></ion-img>
      </th>
      <th>
        <ion-img src="assets/icons/stats/def.webp"></ion-img>
      </th>
      <th>
        <ion-img src="assets/icons/stats/res.webp"></ion-img>
      </th>
      <th>
        <ion-img src="assets/icons/stats/redeploy.webp"></ion-img>
      </th>
      <th>
        <ion-img src="assets/icons/stats/cost.webp"></ion-img>
      </th>
      <th>
        <ion-img src="assets/icons/stats/blockCount.webp"></ion-img>
      </th>
      <th>
        <ion-img src="assets/icons/stats/attackInterval.webp"></ion-img>
      </th>
    </tr>
    
    <tr *ngFor="let vb of displayedBreakpoints; let i = index">
      <td>
        <div class="level-cell">
          <ion-img class="elite-img" src="assets/icons/elitePhases/{{vb.elite}}.webp"></ion-img>
          {{vb.level}}
        </div>
      </td>
      <td>
        {{vb.stats.hp}}
      </td>
      <td>
        {{vb.stats.atk}}
      </td>
      <td>
        {{vb.stats.def}}
      </td>
      <td>
        {{vb.stats.res}}
      </td>
      <td>
        {{vb.stats.time}}
      </td>
      <td>
        {{vb.stats.cost}}
      </td>
      <td>
        {{vb.stats.blockCount}}
      </td>
      <td>
        {{vb.stats.attackInterval}}s
      </td>
    </tr>
    <tr *ngIf="doctor.statSlider">
      <td>
        <div class="level-cell">
          <ion-img class="elite-img" src="assets/icons/elitePhases/{{parsedCustomLevel.elite}}.webp"></ion-img>
          {{parsedCustomLevel.level}}
        </div>
      </td>
      <td>
        {{customStats.hp}}
      </td>
      <td>
        {{customStats.atk}}
      </td>
      <td>
        {{customStats.def}}
      </td>
      <td>
        {{customStats.res}}
      </td>
      <td>
        {{customStats.time}}
      </td>
      <td>
        {{customStats.cost}}
      </td>
      <td>
        {{customStats.blockCount}}
      </td>
      <td>
        {{customStats.attackInterval}}s
      </td>
    </tr>
  </tbody>
</table>
<table class="table" style="border: none" draggable="false" [ngClass]="{'bottom-margin' : isSummon}" *ngIf="subject && doctor.statSlider">
  <tbody>
    <tr>
      <td style="border-top: none">
        <input draggable="false" [(ngModel)]="customLevel" type="range" class="slider" min="1" [max]="maxCustomLevel" (ngModelChange)="parseCustomLevel()"/>
      </td>
    </tr>
  </tbody>
</table>
