.table {
  transition: 5s;
  &:after {
    opacity: 0;
    content: '';
  }

  .unlock-condition-cell {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    .unlock-stat {
      display: flex;
      align-items: center;
    }
  }

  .no-unlock-condition {
    text-align: center;
  }
  
  ion-img {
    width: 30px;
  }
}
