<div class="required-item" [ngClass]="{'mastery' : isMastery}">
  <div class="name"> 
    <p> {{item.name}} </p>
  </div>
  <ion-img class="item-bg" [ngClass]="{'grouped': isGrouped}" src="https://raw.githubusercontent.com/Aceship/Arknight-Images/main/material/bg/item-{{item.rarity}}.png"></ion-img>
  <ion-img class="item-img" [ngClass]="{'grouped': isGrouped}" src="https://raw.githubusercontent.com/Aceship/Arknight-Images/main/items/{{item.imgId}}.png"></ion-img>
  <p *ngIf="item.amount" class="amount">{{item.amount | numberFormatter: 'short'}}</p>
</div>