<table class="table">
  <tbody>
    <tr>
      <th>
        Stats
      </th>
      <th>
        <ion-img src="assets/icons/stats/hp.webp"></ion-img>
      </th>
      <th>
        <ion-img src="assets/icons/stats/atk.webp"></ion-img>
      </th>
      <th>
        <ion-img src="assets/icons/stats/def.webp"></ion-img>
      </th>
      <th>
        <ion-img src="assets/icons/stats/res.webp"></ion-img>
      </th>
      <th>
        <ion-img src="assets/icons/stats/redeploy.webp"></ion-img>
      </th>
      <th>
        <ion-img src="assets/icons/stats/cost.webp"></ion-img>
      </th>
      <th>
        <ion-img src="assets/icons/stats/block.webp"></ion-img>
      </th>
      <th>
        <ion-img src="assets/icons/stats/interval.webp"></ion-img>
      </th>
    </tr>
    
    <tr *ngFor="let vb of visualBreakpoints">
      <td class="level-cell">
        <ion-img class="elite-img" src="assets/icons/elitePhases/{{vb.elite}}.webp"></ion-img>
        {{vb.level}}
      </td>
      <td>
        {{vb.stats.maxHp}}
      </td>
      <td>
        {{vb.stats.atk}}
      </td>
      <td>
        {{vb.stats.def}}
      </td>
      <td>
        {{vb.stats.res}}
      </td>
      <td>
        {{vb.stats.respawnTime}}
      </td>
      <td>
        {{vb.stats.cost}}
      </td>
      <td>
        {{vb.stats.blockCount}}
      </td>
      <td>
        {{vb.stats.baseAttackTime}}s
      </td>
    </tr>
  </tbody>
</table>