ion-img {
  width: 30px;
}

.required-item {
  display: inline-flex;
  align-items: center;
  padding-right: 15px;
}

.elite-img {
  width: 30px;
  display: inline-block;
}

.req-cell {
  display: flex;
  padding-left: 10px !important;

  .item-bg {
    width: 50px;
  }
  
  .item-img {
    position: absolute;
    width: 35px;
    height: 35px;
    transform: translate(7px, 0px);
  }

  .elite-img {
    width: 30px;
    display: inline-block;
    transform: translateY(-5px);
    padding-right: 5px;
  }
  
  .center-aligned {
    text-align: center;
    width: 0px;
  }
  
  .level {
    padding-right: 15px;
  }
}