<table class="table" [ngClass]="{'top-margin': operator.statBreakpoints[0].eliteUnlockReqs == null}">
  <tbody>
    <tr>
      <th colspan="2">
        Talents
      </th>
      <th>
        Unlock Req.
      </th>
    </tr>
    <ng-container *ngFor="let ta of talents">
      <tr *ngFor="let t of ta; let i = index">
        <td class="center-aligned" style="font-weight: bold" *ngIf="i == 0">
          {{t.name}}
        </td>
        <td class="center-aligned" *ngIf="i > 0">
          ^
        </td>
        <td [innerHtml]="t.description">
        </td>
        <td *ngIf="t.maxLevel > 1" class="center-aligned">
          [show all levels]
        </td>
        <td >
          <div [ngClass]="{'unlock-condition-cell' : t.unlockConditions.elite || t.unlockConditions.potential || t.unlockConditions.level}">
            <div *ngIf="t.unlockConditions.elite" class="unlock-stat">
              <ion-img src="assets/icons/elitePhases/{{t.unlockConditions.elite}}.webp"></ion-img>
            </div>
            
            <div *ngIf="t.unlockConditions.potential" class="unlock-stat">
              <ion-img src="assets/icons/potentials/{{t.unlockConditions.potential-1}}.webp"></ion-img>
            </div>
  
            <div *ngIf="t.unlockConditions.level" class="unlock-stat">
              Lv {{t.unlockConditions.level}}
            </div>
    
            <div *ngIf="!t.unlockConditions.potential && !t.unlockConditions.elite && !t.unlockConditions.level" class="no-unlock-condition">
              -
            </div>
          </div>
        </td>
      </tr> 
    </ng-container>
  </tbody>
</table>

