.table {
  ion-img {
    width: 40px;
    padding-right: 10px;
  }

  .potential-cell {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  td {
    padding: 0px 10px !important;
    height: 30px;
  }
}