<div class="background">
  <p class="header">About</p>
  <p>I created this wiki because I couldn't stand the mobile-strict layout of Gamepress and Aceship. This wiki's purpose is to have a layout that takes advantage of PC resolutions and eliminates the need for interactions (buttons, sliders, etc) wherever unneeded.</p>

  <br>
  <p class="header h2">Sources</p>
  <p>- Information Database: <a href="https://github.com/Kengxxiao/ArknightsGameData" target="_blank">Kengxxiao's JSON repo</a></p>
  <p>- Image Database: <a href="https://github.com/Aceship/Arknight-Images" target="_blank">Aceship's image repo</a></p>
  <p>- Voice Database: <a href="https://github.com/Aceship/Arknight-voices" target="_blank">Aceship's voice repo</a></p>
  
  <br>
  <p class="header h2">Credits</p>
  <p>- Made by Retropaint (#5312 if you want to yell at me on Discord)</p>
  <p>- Made with Ionic Angular</p>
  <p>- Thank you to everyone in the Arknights channel from the Azur Lane ECTL Discord server for all the feedback and testing :)</p>

</div>