<app-header></app-header>

<ion-content [ngClass]="{'blur' : isBlurry}">
  <p *ngIf="!database.isLoaded" style="text-align: center; margin-top: 10px">Loading... {{dbGetter.jsonLoadingProgress / dbGetter.maxJsonFiles | numberFormatter: 'percent'}}</p>
  
  <ng-container *ngIf="database.isLoaded && operator">
    <div class="op-name-container" [ngClass]="{'amiya' : operator.name.includes('Amiya')}">
      <p class="op-name">{{operator.name}}</p>
      <div class="tabs amiya" *ngIf="operator.name.includes('Amiya')">
        <p routerLink="/operator" [queryParams]="{'name': encodeURI('Amiya')}" [ngClass]="{'selected' : !isAmiyaGuard}">Caster</p>
        <p style="background: none; cursor: default">/</p>
        <a routerLink="/operator" [queryParams]="{'name': encodeURI('Amiya (Guard)')}" [ngClass]="{'selected' : isAmiyaGuard}">Guard</a>
      </div>
    </div>
    
    <div class="tabs">
      <p (click)="currentTab = 'info'" [ngClass]="{'selected' : currentTab == 'info'}">Gameplay Info</p>
      <p (click)="currentTab = 'gallery'" [ngClass]="{'selected' : currentTab == 'gallery'}">Gallery</p>
      <p (click)="currentTab = 'profile'" *ngIf="operator.profileEntries.length > 0" [ngClass]="{'selected' : currentTab == 'profile'}">Profile</p>
      <p (click)="currentTab = 'dialogue'" *ngIf="operator.dialogues.length > 0" [ngClass]="{'selected' : currentTab == 'dialogue'}">Dialogue</p>
    </div>

    <div class="dead-zone container" [ngClass]="{'not-selected-tab' : currentTab != 'info'}">

      <div class="left-container" [ngClass]="{'no-skills' : operator.skills.length == 0}">

        <app-operator-briefer
          [operator]="operator"
        ></app-operator-briefer>

        <app-stat-table
          [subject]="operator"
        ></app-stat-table>

        <app-elite-unlock-reqs-table
          [operator]="operator"
        ></app-elite-unlock-reqs-table>

        <app-talent-table
          [operator]="operator"
        ></app-talent-table>

        <app-potential-table
          [operator]="operator"
        ></app-potential-table>

        <app-base-skill-table
          [operator]="operator"
        ></app-base-skill-table>

        <app-module-table
          *ngFor="let item of operator.modules; let i = index;"
          [operator]="operator"
          [moduleIndex]="i"
        ></app-module-table>

      </div>

      <div class="right-container">

        <app-skill-table *ngIf="operator.rarity > 2 && !operator.name.includes('Reserve')"
          [operator]="operator"
        ></app-skill-table>

        <app-summon-table
          *ngFor="let summon of operator.summons"
          [summon]="summon"
        ></app-summon-table>

        <app-skill-level-unlock-reqs-table *ngIf="operator.rarity > 2 && !operator.name.includes('Reserve')"
          [operator]="operator"
        ></app-skill-level-unlock-reqs-table>
      </div>

    </div>

    <div [ngClass]="{'not-selected-tab' : currentTab != 'gallery'}">
      <app-operator-gallery
        [isTab]="true"
        [operator]="operator"
      ></app-operator-gallery>
    </div>

    <div [ngClass]="{'not-selected-tab' : currentTab != 'profile'}" >
      <app-profile-tab [operator]="operator"></app-profile-tab>
    </div>

    <div [ngClass]="{'not-selected-tab' : currentTab != 'dialogue'}">
      <app-voice-actor-table
        [operator]="operator"
      ></app-voice-actor-table>
      <app-dialogue-table
        [operator]="operator"
      ></app-dialogue-table>
    </div>
  </ng-container>
</ion-content>
