<table class="table">
  <tbody>
    <tr>
      <th>
        Skill 
      </th>
      <th>
        Description
      </th>
      <th>
        Recovery Type
      </th>
      <th>
        Duration
      </th>
      <th>
        SP Cost
      </th>
      <th>
        Initial SP
      </th>
    </tr>
    <tr *ngFor="let s of skills">
      <th>
        {{s.name}}
      </th>
      <td [innerHtml]="s.description">
      </td>
      <td class="center-aligned">
        {{s.recoveryType}}
      </td>
      <td>
        <ng-container *ngIf="s.durations[0].value > 0">
          <ng-container *ngFor="let d of s.durations">
            <p class="flex-container">{{d.value}}s <img class="mastery-img" src="assets/icons/skillLevels/{{d.mastery}}.png"/></p>
          </ng-container>
        </ng-container>
        <ng-container *ngIf="s.durations[0].value < 1">
          <p class="center-aligned" *ngIf="s.durations[0].value == 0">Instant</p>
          <p class="center-aligned" *ngIf="s.durations[0].value == -1">Infinite</p>
        </ng-container>
      </td>
      <td>
        <ng-container *ngFor="let spCost of s.spCosts">
          <p class="flex-container">{{spCost.value}} <img class="mastery-img" src="assets/icons/skillLevels/{{spCost.mastery}}.png"/></p>
        </ng-container>
      </td>
      <td>
        <ng-container *ngFor="let initialSp of s.initialSp">
          <p class="flex-container">{{initialSp.value}} <img class="mastery-img" src="assets/icons/skillLevels/{{initialSp.mastery}}.png"/></p>
        </ng-container>
      </td>
    </tr>
  </tbody>
</table>