<table class="table" *ngIf="operator.baseSkills.length > 0">
  <tbody>
    <tr>
      <th colspan="2">Base Skills</th>
      <th>Elite Req.</th>
    </tr>
    <tr *ngFor="let baseSkill of operator.baseSkills; let i = index" style="height: 70px">
      <td>
        <div class="name-container">  
          <img loading="eager" class="skill-icon" src="https://raw.githubusercontent.com/Aceship/Arknight-Images/main/ui/infrastructure/skill/{{baseSkill.iconId}}.png"/>
          {{baseSkill.name}} 
          <span *ngIf="operator.name == 'Aurora' && i == 1" style="margin-left: 10px; color: #e6e6e6">(replaces Defender Expert α)</span>
        </div>
      </td>
      <td>
        <div #description [innerHTML]="baseSkill.description"></div>
      </td>
      <th> 
        <p *ngIf="baseSkill.requirements.elite == 0">-</p>
        <ion-img *ngIf="baseSkill.requirements.elite > 0" class="elite-img" src="assets/icons/elitePhases/{{baseSkill.requirements.elite}}.webp"></ion-img>
      </th>
    </tr>
  </tbody>
</table>