.elite-img {
  width: 30px;
  display: inline-block;
  transform: translateY(3px)
}

.name-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  text-align: center;

  .skill-icon {
    width: 25px;
    margin-bottom: 10px;
  }

  .elite-img {
    width: 20px;
    display: inline-block;
    transform: translateY(3px);
  }
}

.name {
  white-space: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  padding: 5px;
}



