.square {
  border: solid #a9a9a9;
  &.start {
    background: #a9a9a9;
  }
}

.empty-square {
  border: none;
}

.range-table {
  border-spacing: 3px;
  border-collapse: separate;
  display: inline-block;
  vertical-align: top;
}

