.elite-img {
  width: 30px;
}

.required-item {
  display: inline-flex;
  align-items: center;
}

.item-bg {
  width: 50px;
}

.item-img {
  position: absolute;
  width: 35px;
  height: 35px;
  transform: translate(7px, 0px);
}

.misc-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-bottom: 10px;

  .duration {
    margin: 0;
    transform: translateY(2px)
  }
}

.item-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}