.module-header {
  display: flex;
  flex-direction: column;
  align-items: center;

  ion-img {
    max-width: 100px;
    padding: 10px;
    padding-bottom: 10px;
  }

  p {
    text-align: center;
  }
}

.header {
  background: #575757;
}

.not-first-module {
  margin-bottom: 0px;
}

.stat {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 5px;
  padding-top: 5px;

  &.no-margin {
    padding: 0px;
  }

  ion-img {
    width: 23px;
  }
}

.unlock-reqs-elite-and-level {
  display: flex;
  justify-content: center;
  align-items: center;

  .elite-img {
    width: 25px;
    margin-right: 10px;
  }
}

.trust {
  text-align: center;
  margin-top: 15px;
}

.table {
  &.no-border {
    tr {
      td {
        border-bottom: none;
      }
    } 
  }
}