<table class="table no-border" style="margin-bottom: 0px; border-bottom: none" *ngIf="moduleIndex > 0">
  <tbody>
    <tr>
      <th>
        Module
      </th>
      <th>
        Description
      </th>
      <th>
        Unlock Requirements
      </th>
    </tr>
    <tr>
      <td>
        <div class="module-header">
          <ion-img src="https://raw.githubusercontent.com/Aceship/Arknight-Images/main/equip/icon/{{operator.modules[moduleIndex].id}}.png"></ion-img>
          <p>{{operator.modules[moduleIndex].name}}</p>
        </div>
      </td>
      <td>
        <div *ngIf="operator.name == 'Dusk'" style="text-align: center">
          <p [innerHTML]="trait" style="margin-bottom: 10px"></p>
          <app-range-grid id="3-1"></app-range-grid>
        </div>
        <p *ngIf="operator.name != 'Dusk'" style="margin-left: 5px; margin-right: 5px" [innerHTML]="trait"></p>
      </td>
      <td>
        <div class="unlock-reqs-elite-and-level">
          <ion-img class="elite-img" src="assets/icons/elitePhases/2.webp"></ion-img>
          <p>Lv 60</p>
        </div>
        <p class="trust">100 Trust</p>
      </td>
    </tr>
  </tbody>
</table>

<table class="table" style="margin-bottom: 0px;" *ngIf="moduleIndex > 0">
  <tbody>
    <tr>
      <th class="header" colspan="3">
        Unlock Missions
      </th>
    </tr>
    <tr *ngFor="let mission of operator.modules[moduleIndex].missions">
      <td colspan="3">{{mission.description}}</td>
    </tr>
    <tr>
      <th class="header">
        Level
      </th>
      <th class="header">
        Stat
      </th>
      <th class="header">
        Unlock Reqs.
      </th>
    </tr>
    <tr *ngFor="let level of operator.modules[moduleIndex].levels; let i=index">
      <th>
        {{i+1}}
      </th>
      <td>
        <div class="stat" *ngFor="let stat of level.stats">
          <ng-container *ngIf="stat.key != 'attack_speed'">
            <ion-img src="assets/icons/stats/{{stat.key}}.webp"></ion-img>
            +{{stat.value}}
          </ng-container>
          <ng-container *ngIf="stat.key == 'attack_speed'">
            ASPD +{{stat.value}}
          </ng-container>
        </div>
        <ng-container *ngIf="level.summonStats != null">
          <div style="margin-top: 10px" *ngFor="let summonStat of level.summonStats; let summonIndex = index">
            <p style="text-align: center">{{operator.summons[summonIndex].name}}</p>
            <div *ngFor="let stat of summonStat" class="stat" [ngClass]="{'no-margin' : stat.key == 'max_deck_stack_cnt' || stat.key == 'max_deploy_count'}">
              <ng-container *ngIf="stat.key != 'max_deck_stack_cnt' && stat.key != 'max_deploy_count' && stat.key != 'attack_speed'">
                <ion-img src="assets/icons/stats/{{stat.key}}.webp"></ion-img>
                {{stat.value}}
              </ng-container>
              <ng-container *ngIf="stat.key == 'attack_speed'">
                ASPD {{stat.value}}
              </ng-container>
            </div>
          </div>
        </ng-container>
      </td>
      <th>
        <app-item-component *ngFor="let itemCost of level.itemCosts" [item]="itemCost"></app-item-component>
      </th>
    </tr>
  </tbody>
</table>