.table {
  margin-bottom: 0px;

  &.bottom-margin {
    margin-bottom: 15px;
  }

  .elite-img {
    margin-right: 10px;
    transform: translateY(-0.5px);
    width: 25px;
    height: 25px;
  }

  .level-cell {
    display: flex;
    align-items: center;
  }

  th, td {
    height: 30px;

    &.button {
      background: #2a2929;
      cursor: pointer;

      &.selected {
        background: var(--blue);
      }
    }
  }

  td {
    text-align: right;
    white-space: nowrap;
  }

  ion-img {
    width: 23px;
    display: inline-block;
    vertical-align: top;
  }

  .stat-header {
    th {
      background: var(--tableFirstHeader);
    }
  }

  .opStatHeader {
    width: 125px;
  }

}