.table {
  table-layout: fixed;
  margin-bottom: 0px;

  &.bottom-margin {
    margin-bottom: 10px;
  }

  .elite-img {
    margin-right: 10px;
    transform: translateY(-0.5px);
    width: 25px;
    height: 25px;
  }

  .level-cell {
    display: flex;
    align-items: center;
    border: none;
  }

  tr {
    border: 1px solid white;
  }

  th, td {
    padding: 5px 10px 5px !important;
    border: 1px solid white;
    height: 30px;
  }

  td {
    text-align: right;
  }

  ion-img {
    width: 23px;
    display: inline-block;
    vertical-align: top;
  }

  
}

