<table class="table" *ngIf="operator.skillLevelUnlockReqs.length > 0">
  <tbody>
    <tr>
      <th colspan="2">
        Skill Level Unlock Requirements
      </th>
    </tr>
    <tr *ngFor="let level of operator.skillLevelUnlockReqs; let i = index">
      <th>
        {{i+2}}
      </th>
      <td class="req-container">
        <ion-img *ngIf="level.elite > 0" class="elite-img" src="assets/icons/elitePhases/{{level.elite}}.webp"></ion-img>
        <app-item *ngFor="let item of level.items" [item]="item"></app-item>
      </td>
    </tr>
    <ng-container *ngIf="operator.rarity > 3 && operator.skills[0].masteryUnlockReqs.length != 0">
      <tr *ngFor="let mastery of emptyArray(3); let m = index">
        <th>Mastery {{m+1}}</th>
        <td>
          <div class="mastery">
            <div class="skill" *ngFor="let num of emptyArray(operator.skills.length); let i = index">
              <p class="name">{{operator.skills[i].name}}</p>
              <div>
                <app-item *ngFor="let item of operator.skills[i].masteryUnlockReqs[m].items" [item]="item" [isMastery]="true"></app-item>
              </div>
            </div>
          </div>
          <div class="misc-mastery-reqs">
            <ion-img class="elite-img" src="assets/icons/elitePhases/2.webp"></ion-img>
            <p>{{8 * (m+1)}} hours</p>
          </div>
        </td>
      </tr>
    </ng-container>
  </tbody>
</table>