<app-header></app-header>

<ion-content [ngClass]="{'blur' : isBlurry}">

  <p *ngIf="!hasLoaded" style="text-align: center; margin-top: 10px">Loading... {{dbGetter.jsonLoadingProgress / dbGetter.maxJsonFiles | numberFormatter: 'percent'}}</p>

  <div *ngIf="hasLoaded">
    <div class="dead-zone container" *ngIf="currentTab == 'operators'">
      <div class="left-container filter-table">
        <app-filter-table></app-filter-table>
      </div>
      <div class="right-container operator-list">
        <app-operator-list></app-operator-list>
      </div>
    </div>

    <div class="dead-zone" *ngIf="currentTab == 'items'">
      <app-item-list></app-item-list>
    </div>
  </div>

  <div (window:resize)="onResize($event)"></div>
</ion-content>

