<div class="profile">
  <app-profile-info-table
    [operator]="operator"
    entry="basic"
    style="margin-right: 5px; margin-bottom: 15px"
  ></app-profile-info-table>

  <app-profile-info-table
    [operator]="operator"
    entry="physical"
    style="margin-left: 5px; margin-right: 5px; margin-bottom: 15px"
  ></app-profile-info-table>

  <div class="recruitAndTokenContainer">
    <table class="table less-margin">
      <tbody>
        <tr>
          <th>Recruitment Contract</th>
        </tr>
        <tr>
          <td> {{operator.recruitmentContract}} </td>
        </tr>
      </tbody>
    </table>
    <table class="table">
      <tbody>
        <tr>
          <th>Potential Token</th>
        </tr>
        <tr>
          <td> {{operator.potentialToken}} </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="group-img-container">
    <ion-img class="group-img" src="https://raw.githubusercontent.com/Aceship/Arknight-Images/main/factions/logo_{{operator.group.id}}.png"></ion-img>
    <p> {{operator.group.name}} </p>
  </div>
  
</div>

<app-profile-info-text-entries
  [operator]="operator"
></app-profile-info-text-entries>