<div class="gallery" [ngClass]="{'is-tab' : isTab}" *ngIf="operator">

  <ng-container *ngFor="let skin of operator.skins; let i = index">
    <br *ngIf="i%2 == 0">
    <div class="skin-img-container">
    
      <div class="info-container">
        <p> {{skin.name}}</p>
        <p>/</p>
        <p style="color: darkgrey">Artist: <span style="color: white">{{skin.artist}}</span></p>
      </div>

      <img style="display: none" #opImage src="{{baseUrl}}{{skin.id}}.png" (load)="getMagnificaction($event)" />
      
      <lib-ngx-image-zoom
        class="img selected"
        [style]="'background: rgb(' + backgroundBrightness + ', ' + backgroundBrightness +  ', ' + backgroundBrightness + ')'"
        [ngClass]="{'big-image': magnifiers[i] == 0.5}"
        thumbImage="{{baseUrl}}{{skin.id}}.png"
        fullImage="{{baseUrl}}{{skin.id}}.png"
        zoomMode="hover"
        [enableScrollZoom]="true"
      ></lib-ngx-image-zoom>
  
    </div>
  </ng-container>
</div>