<div class="gallery" [ngClass]="{'is-tab' : isTab}" *ngIf="operator">

  <ng-container *ngFor="let skin of operator.skins; let i = index">
    <br *ngIf="i%2 == 0">
    <div class="skin-img-container">
    
      <div class="info-container">
        <p> {{skin.name}}</p>
        <p>/</p>
        <p style="color: darkgrey">Artist: <span style="color: white">{{skin.artist}}</span></p>
      </div>
      
      
      <lib-ngx-image-zoom
        #opImage
        
        class="img selected"
        [style]="'background: rgb(' + backgroundBrightness + ', ' + backgroundBrightness +  ', ' + backgroundBrightness + ')'"
        thumbImage="{{baseUrl}}{{skin.id}}.png"
        fullImage="{{baseUrl}}{{skin.id}}.png"
        zoomMode="hover"
        [enableScrollZoom]="true"
        [magnification]="1.05 * magnificationMultiplier"
        [minZoomRatio]="1.05 * magnificationMultiplier"
        [maxZoomRatio]="2"
        (mouseenter)="onHover()"
      ></lib-ngx-image-zoom>
  
    </div>
  </ng-container>
</div>