<table class="table" *ngIf="operator.rarity > 3">
  <tbody>
    <tr>
      <th>
        Skill
      </th>
      <th>
        Mastery 1 Unlock Reqs.
      </th>
      <th>
        Mastery 2 Unlock Reqs.
      </th>
      <th>
        Mastery 3 Unlock Reqs.
      </th>
    </tr>
    <tr *ngFor="let s of operator.skills">
      <th>
        {{s.name}}
      </th>
      <td *ngFor="let ms of s.masteryUnlockReqs">
        
        <div class="item-container">
          <app-item *ngFor="let item of ms.items" [item]="item"></app-item>
        </div>
      </td>
    </tr>
  </tbody>
</table>