<p-autoComplete 
  inputStyleClass="search-input"
  inputId="searchBox" 
  class="search-input-class"
  id="searchBox" 
  [(ngModel)]="text" 
  placeholder="Search operator..." 
  [showEmptyMessage]="true" 
  [suggestions]="results" 
  (completeMethod)="search($event)" 
  field="name"
  (keyup.enter)="clickedSuggestion(results[0].name)">
    <ng-template let-operator pTemplate="operator" let-idx="index">
      <div class="operator-suggestion rarity-{{operator.rarity}}" [ngClass]="{'divider' : idx < results.length-1}" (click)="clickedSuggestion(operator.name)">
        <ion-img [src]="operator.img"></ion-img>
        <p [ngClass]="{'chosen' : chosenResult == idx}" >{{operator.name}}</p>
      </div>
    </ng-template>
</p-autoComplete>