<ion-header class="header">
  <div class="dead-zone">
    <h1>Another Arknights Wiki</h1>
  </div>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="operator">

  <p class="op-name">{{operator.name}} ({{randomOperatorNum}})</p>

  <div class="dead-zone container">

    <div class="left-container">
      <table class="basic-info-card">
        <ion-img class="image" src="https://aceship.github.io/AN-EN-Tags/img/avatars/{{operatorImageLink}}.png"></ion-img>
        <tbody>
          <tr>
            <th>Class</th>
            <td>{{operator.class}}</td>
          </tr>
          <tr>
            <th>Branch</th>
            <td>{{operator.branch}}</td>
          </tr>
          <tr>
            <th>Rarity</th>
            <td>{{operator.rarity}}</td>
          </tr>
          <tr *ngIf="operator.recruitTags.length != 0 && operator.obtainMethods.includes('Recruitment')">
            <th>Recruit Tags</th>
            <td>{{operator.recruitTags}}</td>
          </tr>
        </tbody>
      </table>

      <app-stat-table
        [operator]="operator"
      ></app-stat-table>

      <app-elite-unlock-reqs-table
        [operator]="operator"
      ></app-elite-unlock-reqs-table>

      <app-potential-table
        [operator]="operator"
      ></app-potential-table>

      <app-talent-table
        [operator]="operator"
      ></app-talent-table>
      
    </div>
    
    <div class="right-container">
      <div class="image-container">
        <ion-img class="image" src="https://aceship.github.io/AN-EN-Tags/img/characters/{{operatorImageLink}}_1.png"></ion-img>
      </div>

      <app-skill-table
        [operator]="operator"
      ></app-skill-table>

      <app-skill-mastery-unlock-reqs-table
        [operator]="operator"
      ></app-skill-mastery-unlock-reqs-table>

      <app-skill-level-unlock-reqs-table
        [operator]="operator"
      ></app-skill-level-unlock-reqs-table>
    </div>

  </div>

</ion-content>
