ion-header {
  margin-bottom: 10px;
}

.header {
  background: #121212;
}

.dead-zone {
  padding-left: 10px;
  padding-right: 10px;

  &.container {
    display: flex;
    margin-bottom: 100px
  }
}

.op-name {
  font-size: 20px;
  font-weight: bold;
}

.basic-info-card {

  padding: 10px;
  border: 1px solid white;
  display: flex;

  th {
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: left;
    border-right: 1px solid white;
  }
  td {
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .image {
    width: 100px;
    margin: 5px;
  }
}


.image-container {
  border: 1px solid white;
  padding: 20px;
  height: 410px;
  width: 100%;
  display: flex;
  justify-content: center;

  .image {
    width: 375px;
  }
}

.left-container {
  flex: 1 1 360px;
  padding-right: 15px;
}

.right-container {
  flex: 1 1 360px;
}